.user {
    display: block;
    width: 50%;
    padding: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    border: 0 solid transparent;
    margin-bottom: -1em;
    /* Initially no border */
    /* Smooth transition for border width and color */
}
